@{
    ViewData["Title"] = "Om mig";
}

<h1 style="color:white;">CV - Om Mig</h1>
<hr style="color:white;"/>
<div class="card mb-3 bg-dark text-white" style="width: 100%;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="~/lib/bildpamig.jpg" class="img-fluid rounded-start" alt="Ung kvinna som ler.">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Lisa Linder</h5>
        <p class="card-text"> 
            Hej! Lisa Linder heter jag och är 22 år. Jag bor i Gävle och studerar till .NET-utvecklare på Teknikhögskolan i Gävle. Jag är en väldigt envis person som alltid gör mitt bästa på arbetsplatsen och har fått höra att jag uppfattas som väldigt lugn och att jag är rolig att arbeta med.</p>
      </div>
    </div>
  </div>
</div>
<hr style="color:white;"/>