@{
    ViewData["Title"] = "Utbildning";
}

<h1 style="color:white;">CV - Utbildning</h1>
<hr style="color:white;"/>
<ul class="list-group">
  <li class="list-group-item d-flex justify-content-between align-items-center bg-dark text-white">
    .NET-utvecklare, Teknikhögskolan
    <span class="badge bg-secondary rounded-pill">2020-2022</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center bg-dark text-white">
    Barnskötare, Katedralskolan
    <span class="badge bg-secondary rounded-pill">2015-2018</span>
  </li>
</ul>
<hr style="color:white;"/>
