@{
    ViewData["Title"] = "Erfarenhet";
}

<h1 style="color:white;">CV - Erfarenhet</h1>
<hr style="color:white"/>

<ol class="list-group list-group-numbered">
  <li class="list-group-item d-flex justify-content-between align-items-start  bg-dark text-white">
    <div class="ms-2 me-auto">
      <div class="fw-bold">PostNord</div>
      Brevbärare på PostNord, både timanställning och säsongsanställning.
    </div>
    <span class="badge bg-secondary rounded-pill">2021-2022</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start  bg-dark text-white">
    <div class="ms-2 me-auto">
      <div class="fw-bold">Stockholm Arlanda</div>
      Arbetade på Arlanda med att assistera människor med olika funktionsvariationer på flygplatsen, heltidsanställning.
    </div>
    <span class="badge bg-secondary rounded-pill">2018-2020</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start  bg-dark text-white">
    <div class="ms-2 me-auto">
      <div class="fw-bold">Stockholm Arlanda</div>
      Trädgårdsarbete på Arlanda under sommaren, säsongsanställning.
    </div>
    <span class="badge bg-secondary rounded-pill">2016-2017</span>
  </li>
   <li class="list-group-item d-flex justify-content-between align-items-start  bg-dark text-white">
    <div class="ms-2 me-auto">
      <div class="fw-bold">Förskolor & Skolor</div>
      Praktiserade på olika förskolor och skolor runt om i Uppsala i totalt 16 veckor under 3 år på gymnasiet, endast som praktikant.
    </div>
    <span class="badge bg-secondary rounded-pill">2015-2018</span>
  </li>
</ol>
<hr style="color:white"/>
